#!/usr/bin/python3

from blocklist import LinkCollection, define_logger

if __name__ == "__main__":
    define_logger(to_file=True, logfile="/log/blocklist.log")
    collections = {
{% for collection in blocklist_collections %}
      "{{ collection.filename }}": "{{ collection.link }}",
{% endfor %}
    }
    for collection in collections:
      linkcollection = LinkCollection(collections[collection])
      linkcollection.run()
      linkcollection.save_to_file(f"/output/{collection}.txt")
